/* Reset gaya bawaan browser */
* {
    margin: 0;
    padding: 100;
    box-sizing: border-box;
}

/* Gayakan body dan header */
body {
    background-color: #f8f8f8;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #bb748b;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

/* Gayakan navigasi */
nav {
    background-color: #e1e1e1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ad507a;
    font-weight: bold;
}

/* Gayakan artikel */
.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.article {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: left;
    border: 1px solid rgb(207, 207, 207);
}

.article h2 {
    color: #000000;
}

/* Gayakan footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #905062;
    color: #ffffff;
}

/* Efek hover untuk tautan */
a:hover {
    color: #ffcccb;
    transition: color 0.3s ease-in-out;
}

/* CSS yang sudah ada ... */

.article img {
    max-width: 100px; 
    height: 100px;
    margin-right: 1em;
    margin-left: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .container {
        padding: 10px;
    }

    .article {
        flex-direction: column;
        align-items: center;
    }
}












